
<!DOCTYPE html>
<html>
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-157911762-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-157911762-1');
		</script>

		<title>John Le</title>
		<link rel="stylesheet" type="text/css" href="static/style.css">
	</head>
	<body>		
		<div class="everything">
			<h1>John Le</h1>
			<p id="location"><small>
		    	San Jose, CA | Berkeley, CA
		    </small></p>
			<div class="content">
				<p>
					Hi, I’m John! I'm an undergraduate at UC Berkeley majoring in Computer Science with a passion for Software Development. I am passionate about making Computer Science accessible to everyone, which is why I help teach <a href="https://inst.eecs.berkeley.edu/~cs61b/sp20/" class="description"><span style="color:#FFC000">CS 61B (Data Structures)</span></a>, a course that many aspiring software engineers take. In my free time, I like to play badminton and cook (or mainly watch people cook) a variety of foods. I am currently working as a part-time Software Engineer Intern at Circle (YC W20) for Spring 2021.
				</p>
				<p>
					A few courses that I have taken are CS 170 (Efficient Algorithms and Intractable Problems) and CS 61C (Machine Structures). In Spring 2021, I will be taking CS 161 (Computer Security), CS 188 (Introduction to Artificial Intelligence), and Data 8 (The Foundations of Data Science). 
				</p>
				<p>
					Interested in working together? <a href="mailto:johnle@berkeley.edu" class="description"><span style="color:#FFC000">Contact me!</span></a>
				</p>
			</div>

			<div class="icon">
				<div class="box-github">
					<a href="https://github.com/johnthanhle" target="_blank">
						<img src='static/images/github.png'>
					</a>
				</div>
				<div class="box-linkedin">
					<a href="https://www.linkedin.com/in/johnle-cs" target="_blank">
						<img src='static/images/linkedin.png'>
					</a>
				</div>
				<div class="box-resume">
					<a href="static/resume.pdf" target="_blank">
						<img src='static/images/resume.png'>
					</a>
				</div>
			</div>

		<div id="particles-js"></div>

		<script src="static/particles.js"></script>
		<script src="static/app.js"></script>
	</body>
</html>